@using XanutHeraxosneri.Models
@model Cart
    <tr style="contain ">
          <td class="col-3"> <img src="@Model.img" style="width:150px; max-height:250px" alt="@Model.ApranqName"/>  </td>
          <td class="col-3">        @Model.ApranqName     </td>
          <td class="col-2">        @Model.CategoryName   </td>  
          <td class="col-2">        @Model.Price    </td>
          <td class="col-2"> <a type="button" class="btn btn-outline-danger" style="width:100%" asp-controller="Shop" asp-action="DeleteCart" asp-route-idcart=@Model.Id>
             
                 delte cart</a>

                  <a type="button" class="btn btn-outline-" asp-action="buy" asp-controller="Shop" asp-route-idCard="@Model.Id">
    
                      <i class="bi bi-bag"> buy</i>
                  </a>
          </td>
          
    </tr>
