@model Apranq
    <tr style="contain">
          <td class="col-2"> <img src="@Model.img" style="width:150px; max-height:250px" alt="@Model.Name"/>  </td>
          <td class="col-2">        @Model.Name     </td>
          <td class="col-2">        @Model.categoryA.Name </td>
          <td class="col-1">        @Model.Price    </td>
          <td class="col-2">        @Model.Desc </td>
    </tr>